<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="Description" content="default">
  <title>Calculator</title>
  <link rel="preload" href="fonts/Mulish-Regular.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Mulish-Medium.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Mulish-Bold.woff2" as="font" crossorigin="anonymous">
  <link rel="preload" href="fonts/Mulish-ExtraBold.woff2" as="font" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css">
</head>
