:root {
  /* -- Fonts --*/
  --font-family-mulish: "Mulish", sans-serif; // var(--font-family-mulish);

  /* -- Colors --*/
  --color-white: #fff; // var(--color-white);
  --color-black: #0F0F0F; // var(--color-black);

  --color-blue: #326CF6; // var(--color-blue);
  --color-bg: #FAFAFC; // var(--color-bg);
  --color-orange: #FF8B03; // var(--color-orange);
  --color-blue-light: #EDF2FF; // var(--color-blue-light);








}








